<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Missile game</title>
        <script src="public/js/libs/gown/docs/lib/pixi/pixi.js"></script>
        <script src="public/js/libs/tink.js"></script>
        <script src="public/js/libs/TransparencyHitArea.js"></script>
        <script src="public/js/libs/gown/docs/dist/gown.js"></script>
        <script src="public/js/libs/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            let socket = io.connect('http://missle.tk');
        </script>
    </head>
    <body>
        <!-- <div id = "login">
            <a>Login</a>
        </div> -->
        <script>
            var current_user = null;
            // $(document).ready(function() {
            //     $("#login a").click(function() {
            //     jQuery.ajax({
            //         type: "GET",
            //         url: "/auth/facebook/",
            //         dataType:"application/json",
            //         data: user,
            //         success:function(response){
            //              console.log(response)
            //             },
            //          error: function(xhr, textStatus, errorThrown) {
            //                 alert('Error!  Status = ' + textStatus);
            //              }

            //     });
            // });
            //     // $("#login a").click(function() {
            //     //     $.get("/auth/facebook", function(data){
            //     //         console.log("Data: " + data);
            //     //     });
            //     // }
            // });
        </script>
        <% if (user) {%>
            <script>
                current_user = <%- JSON.stringify(user) %>
            </script>
        <% } %>

        <script src="public/js/alias.js?newversion"></script>
        <script src="public/js/helpers.js?newversion"></script>
        <script src="public/js/eventDispatcher.js?newversion"></script>
        <script src="public/js/missileFly.js?newversion"></script>
        <script src="public/js/missile.js?newversion"></script>
        <script src="public/js/enemyManager.js?newversion"></script>
        <script src="public/js/enemy.js?newversion"></script>
        <script src="public/js/background.js?newversion"></script>
        <script src="public/js/ui.js?newversion"></script>
        <script src="public/js/main.js?newversion"></script>
        <script src="public/js/loginScreen.js?newversion"></script>
        <script src="public/js/game.js?newversion"></script>
    </body>
</html>
