doctype html
html
  head
    meta(charset='utf-8')
    title Missile game
    script(src='/public/js/libs/gown/docs/lib/pixi/pixi.js')
    script(src='/public/js/libs/tink.js')
    script(src='/public/js/libs/TransparencyHitArea.js')
    script(src='/public/js/libs/gown/docs/dist/gown.js')
  body
    script.
        var current_user = null
    div(align = "center")
        if (!user)
                p(style="font-size:20px; display: inline-block;") Welcome to missile game! Please log in.
                a(href="/auth/facebook")
                    img(src="public/imgs/fblogin.png", width = "200", height = "30")
        else
            div
                h2
                    = user.username + ', Point: ' + user.point
                a(href="/logout") Logout
            script.
                current_user = !{JSON.stringify(user)}

    script(src='public/js/alias.js?newversion')
    script(src='public/js/helpers.js?newversion')
    script(src='public/js/eventDispatcher.js?newversion')
    script(src='public/js/missileFly.js?newversion')
    script(src='public/js/missile.js?newversion')
    script(src='public/js/enemyManager.js?newversion')
    script(src='public/js/enemy.js?newversion')
    script(src='public/js/background.js?newversion')
    script(src='public/js/ui.js?newversion')
    script(src='public/js/main.js?newversion')
    script(src='public/js/loginScreen.js?newversion')
    script(src='public/js/game.js?newversion')
    #content
